@tailwind base;
@tailwind components;
@tailwind utilities;
.image-wrap {
    background-image: url("./images/bg-triangle.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}