@tailwind base;
@tailwind components;
@tailwind utilities;
.image-wrap {
    background-image: url("./images/bg-triangle.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

@keyframes getShiny {
    0%, 100% {
        box-shadow:
                0 0 0 20px rgba(255, 255, 255, .2),
                0 0 0 50px rgba(255, 255, 255, .1),
                0 0 0 90px rgba(255, 255, 255, .05)
    ;
    }

    50% {
        box-shadow:
                0 0 0 30px rgba(255, 255, 255, .2),
                0 0 0 70px rgba(255, 255, 255, .1),
                0 0 0 120px rgba(255, 255, 255, .05)
    ;
    }
}

main > div > .shiny {
    /*background: radial-gradient(at center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));*/
    animation: getShiny 2s ease infinite ;
}

.active {
    opacity: 1;
    translate: -50% -150%;
}